html,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
}

#navbar {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    justify-content: space-between;
    border: 1px solid gray;
    /* border-radius: 5px; */
    padding: 20px;
    margin: 10px;
    gap: 20px;
}

#left {
    display: flex;
    gap: 50px;
    font-family: sans-serif;
}

#right {
    padding-right: 20px;
    font-family: sans-serif;
}

#logo {
    display: flex;
    gap: 5px;
    font-size: 24px;
    font-weight: 700;
    font-family: sans-serif;
}

#menus {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#hero_section {
    display: flex;
}

#img_container {
    width: 75vw;
    height: 95vh;
    background-image: url(./assets/Homepage_desktop_1920x.webp);
    background-size: cover;
}

#hero_text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 95vh;
}

#text_container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* justify-content: center; */
    /* align-items: center; */
    width: 250px;
    height: 300px;
    /* background-color: blue; */
}

#hero_text_01 {
    font-family: sans-serif;
    font-weight: 600;
}

#hero_text_02 {
    display: flex;
    gap: 5px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 24px;
}

#shop_now_button {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#hero_text a {
    text-decoration: none;
    color: black;
}

#line_bar {
    width: 70px;
    height: 2px;
    background-color: black;
}

#product_showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    gap: 40px;
}

#productHeadingAndButton {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    font-family: sans-serif;
}

#productHeadingAndButton p {
    font-size: 24px;
    font-weight: normal;
}

#productHeadingAndButton a {
    /* text-decoration: none; */
    text-underline-offset: 6px;
    color: black;
}

#show_all_button {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#productsWithName {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90vw;
    row-gap: 35px;
    column-gap: 2px;
    margin-bottom: 100px;
}


#product {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#product img {
    width: 286px;
    height: auto;
}

#product p {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 500;
}

#lenses {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* gap: 35px; */
    width: 90vw;
    margin: auto;
    margin-bottom: 100px;
}


#left_lense {
    /* display: flex;
    flex-direction: column;
    gap: 10px; */
    font-family: sans-serif;
    font-size: 14px;
}

#left_lense img {
    width: 43vw;
}

#right_lense {
    /* display: flex;
    flex-direction: column;
    gap: 10px; */
    font-family: sans-serif;
    font-size: 14px;
}

#right_lense img {
    width: 43vw;
}

.lense_name {
    font-weight: 600;
    line-height: 40px;
}

.lense_discription {
    font-weight: unset;
}

#modals_image {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 90vw;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 100px;
}

#left_modal img {
    width: 51vw;
    height: 115vh;
}

#right_modal img {
    width: 37vw;
    height: 115vh;
}


#shopify_text {
    width: 90vw;
    height: auto;
    margin: auto;
    /* background-color: aqua; */
    margin-bottom: 100px;
}


#text_wraper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: auto;
    width: 45vw;
    font-family: sans-serif;
    font-size: larger;
    font-weight: normal;
}

#text_dot {
    width: 18px;
    height: 18px;
    background-color: black;
}

#menswear_shop_button {
    width: fit-content;
    padding: 12px 28px;
    border-radius: none;
    background-color: white;
    border: 0.5px solid rgba(128, 128, 128, 0.67);
    font-family: sans-serif;
    font-weight: 600;
}

#footwear_shop_button {
    width: fit-content;
    padding: 12px 28px;
    border-radius: none;
    background-color: white;
    border: 0.5px solid rgba(128, 128, 128, 0.67);
    font-family: sans-serif;
    font-weight: 600;
}

#show_section {
    width: 90vw;
    margin: auto;
}


#show_img_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 100px;
}

.shoe_img {
    height: 110vh;
    width: 30vw;
    background-color: red;
}

#shoe_img01 {
    background-image: url(./assets/ETQ_250115_Orginele_afmeting_056_640x.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

#shoe_img02 {
    background-image: url(./assets/IMG_0061_crob_640x.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

#shoe_img03 {
    background-image: url(./assets/ETQ_250115_Orginele_afmeting_01201_640x.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

#usp_slider {
    width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EAEAEA;
    margin-bottom: 100px;
}

#usp_slider_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
    width: 500px;
    height: 300px;
}


#freeAndFastDeliveryIcon img {
    width: 24px;
}

#freeAndFastDelivery {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
}

#free_and_fast_text {
    text-align: center;
    line-height: 22px;
}